aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  /* float: right; */
  border: 1px solid #29627e;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside>p {
  margin: 0.5rem;
}

.w-44 {
  width: 44%;
}